#title-slide {
    .title {
        font-size: 1.5em !important;
    }

    .subtitle {
        font-size: .6em !important;
    }

    .quarto-title-authors {
        margin-bottom: 2em;

        .quarto-title-author {
            width: 30%;

            .quarto-title-author-name {
                font-size: .55em;
            }

            .quarto-title-author-email {
                font-size: .4em;;
            }
        }
    }

    .date {
        font-size: 0.5em;
    }
}

#TOC {
    li {
        font-size: x-large !important;
    }
}

img.slide-logo {
    /*poner un svg de color blanco*/
    filter: invert(1);
    max-height: 4rem !important;
}

div.reveal-header {
    grid-template-columns: .7fr 2fr .7fr .4fr !important;
}

#sistemas-de-asistencia-al-conductor {
    img {
        width: 30%;
        height: auto;
    }
}

#aprendizaje-por-refuerzo {
    .my-rl-diagram {
        filter: invert(1);
        width: 90% !important;
        height: auto !important;
    }

    .my-rl-list {
    / / width: 45 %;
        height: 2.5em;
    }

    .my-rl-list-s {
        width: 20%;
        margin: 0 1px;
    }

}


#visión-computacional {
    img {
        width: auto;
        height: 15em;
    }
}

#carla,
#puntos-de-referencia,
#origen-del-sistema-de-coordenadas,
#coordenadas-cilíndricas {
    li {
        font-size: .8em
    }
}

img.my-h {
    width: auto !important;
    height: 6.5em !important;
    margin: 0 !important;
}

.my-list-s {
    width: 20%;
    margin: 0 1px;
}

.reveal table th,
.reveal table td {
    font-size: 14px;
}
.csl-entry{
    font-size: 0.8em;
}
